# macOS
.DS_Store

# Node
node_modules/

# Build artifacts
/dist/
/build/
/public/

# Env files
.env
.env.*

# Firebase
.firebase/
firebase-debug.log
minigame-eb7a7-firebase-adminsdk-fbsvc-2a56a6349b.json

# Misc
.cache/
